
<div class="row" id="proBanner">
  <div class="col-12">
    <span class="d-flex align-items-center purchase-popup">
      <p>Product Listing</p>
      <%= link_to 'Products', product_listing_path, class: 'btn ml-auto download-button' %>
      <i class="mdi mdi-close" id="bannerClose"></i>
    </span>
  </div>
</div>
